{
    "presets": ["next/babel"],
    "plugins": [
      "transform-react-pug",
      "transform-react-jsx",
      [
        "auto-import", 
        {
          "declarations": [
            { 
              "default": "React", 
              "members": ["useState"],
              "path": "react",
            }
          ]
        }
      ]
    ]
  }